body {
    background-color: #696969;
    margin: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4f4f4f;
    position: relative;
}

li a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

.top {
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
